@import './base.css';

body {
  overflow: hidden;
  user-select: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 2px var(--color-soft);
}

header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
}

header > div > button > svg {
  height: 1.2rem;
  fill: var(--color-text);
  transition: 0.2s ease-out fill;
}

header > div > button:hover {
  cursor: pointer;
}

header > div > button:hover > svg {
  fill: var(--accent-light);
}

header > div > #DSV-logo {
  height: 1.5rem;
}

header > button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
}

header > button > svg {
  height: 1.2rem;
  fill: var(--color-text);
  transition: 0.2s ease-out fill;
}

header > button:hover {
  cursor: pointer;
}

header > button:hover > svg {
  fill: var(--accent-light);
}

header > button > img {
  height: 1rem;
}

.sidebar {
  position: absolute;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  width: 14rem;
  height: calc(100vh);
  padding: 1rem;
  border-right: solid 2px var(--color-soft);
  background-color: white;
  transition: left 0.2s ease-out;
}
.sidebar.show {
  left: 0rem;
}
.sidebar.hide {
  left: -14rem;
}

.sidebar > small {
  color: var(--color-text-dim);
  font-weight: 600;
}
